/* INICIO MENU */
.nav {
    background: #293241;
    height: 80px;
    color: #fff;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    /* font: size 1.5em; */
    font-weight: 900;
    padding: 0px 0px 25px;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);

}

.nav__item::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__label,
.nav__input {
    display: none;
}
/* FIN MENU */

/* RESPONSIVE */
@media(max-width: 700px) {
    /* INICIO MENU */
    .nav{
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 999;
    }

    .nav__label {
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        margin-bottom: 80px;
        position: fixed;
        top: 80px;
        bottom: 0;
        background:#1697ec;
        width: 100%;
        left: 0;
        display:flex;
        justify-content:  space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav__input:checked+.nav__menu {
        clip-path: circle(100% at center);
    }
    /* FIN MENU */

}