@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Orbitron&family=Pacifico&family=Permanent+Marker&family=Press+Start+2P&family=Rock+Salt&family=Sigmar+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Sigmar One', cursive;
*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#banner {
  width: -webkit-fill-available;
  position: relative;
  display: inline-block;
  text-align: center;
}

#logo {
  text-align: -webkit-center;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 15%;
  transform: translate(-50%, -50%);
}

/*MENU NAV*/
.nav {
  background: #e81c3a;
  padding: 5px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}

.menu li {
  background-color: tomato;
  border: 2px solid white;
  width: 170px;
  transition: background-position-x 0.9s linear;
  text-align: center;
  padding: 10px;
  margin-right: 17px;
  border-radius: 14px;
}

.menu li a {
  font-size: 1.2em;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

.menu li:hover {
  background-color: rgb(214, 35, 35) !important;
  box-shadow: 0 4px 16px rgb(209, 159, 159);
  width: 175px;
  animation: line 2s;
  transition: all 0.45s ease;
  border: 2px solid red;
}

/**/

/*Galeria*/
#galTitle {
  text-align: -webkit-center;
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
}

.img-responsive {
  max-width: 100%;
  margin-bottom: 1em;
  display: block;
  outline: 2px solid #ffffff;
  outline-offset: -4px;
}

#gallery {
  columns: 4 320px;
  column-gap: 1em;
}

/**/