/* @font-face {
    font-family: "aceking";
    src: url("./fonts/aceking.ttf");
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #4b7fda; */
    background-image: url("../imagenes/textura.jpg");
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 508px;
}

.contenedor {
    width: 90%;
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-size: 50px;
}

/* Projects */

.projects {
    margin-top: 151px;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
    margin-top: 55px;
}

p {

    padding: 30px;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 110px;
    font-size: 1.5em;
}

.subtitle {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.projects__grid {
    display: grid;
    height: 550px;
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img5";
    gap: 10px;
}

.projects__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-of-type(1) {
    grid-area: img1;
}

.projects__item:nth-of-type(2) {
    grid-area: img2;
}

.projects__item:nth-of-type(3) {
    grid-area: img3;
}

.projects__item:nth-of-type(4) {
    grid-area: img4;
}

.projects__item:nth-of-type(5) {
    grid-area: img5;
}

.projects__hover {
    position: absolute;
    background: #43a2e08c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover {
    transform: translateX(0%);
}

.projects__icon {
    margin-top: 10px;
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    /* My Projects */

    .projects__grid {
        grid-template-areas:
            "img1 img1 img2 img2"
            "img1 img1 img3 img3"
            "img4 img4 img5 img5";
    }

    .header {
        height: 240px;
    }
}

@media screen and (max-width: 500px) {
    /* Projects */

    .projects__grid {
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5";
        height: auto;
        grid-template-rows: repeat(5, 250px);
        grid-auto-rows: 250px;
        gap: 10px;
    }

    .header {
        height: 240px;
    }
}