table {
    margin-top: 35px;
}
table tr td{
    border: 2px solid rgb(156, 156, 255);
}
thead{
    background: rgb(31, 102, 255);
    color: white;
    font-weight: bold;
}
tbody.fancy {
	list-style: none;
	padding:0;
	margin-top: 20px;
}

ul.fancy {
	float: left;
	padding: 10px;
	margin-right: 10px;
	background-color: #f1ebe0;
}

tbody.fancy tr.row1 {
	background-color: #ffffff;
}

tbody.fancy tr {
	margin: 0;
	list-style: none;
    background-color: #c8c4fa;
}

tbody.fancy tr.row0 {
	background-color: #c8c4fa;
}

td{
    min-width: 50px;
    padding: 10px;
}

/**Modal**/
.modal-contenido{
    background-color:aqua;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #miModal:target{
    opacity:1;
    pointer-events:auto;
  }
  /**Boton**/
  .button {
    text-decoration: none;
    color: black;
    background: lightgrey;
    border-radius: 4px;
    padding: 4px;
  }
  .button:hover {
    border-radius: 6px;
    padding: 6px;
  }
  /**snakbar**/

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #008c00;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.error {
    background-color: #ff4d4d;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}