body{
    background-color: #333333;
    margin: 1em;
}

img{
    max-width: 100%;
    margin-bottom: 1em;
    display: block;
    outline: 2px solid #ffffff;
    outline-offset: -10px;
}

.gallery{
    columns: 5 320px;
    column-gap: 1em;
}
